body{
    font-size: 16px; font-family: microsoft yahei;
}
.layout{
    max-width: 1150px; margin-left: auto; margin-right: auto;
}
.subject-color{
    color: #fed136;
}
.subject-colorH:hover{
    color: #fed136 !important;
}
.subject-bgcol{
    background-color: #fed136;
}
.subject-bgcol:hover{
    background-color: #fec503 !important;
}
.clearfix:after{
    display: block; content: ""; clear: both;
}
.clearfix{
    *zoom: 1;
}
#header{
    position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; background-color: rgba(0,0,0,.6);
    box-shadow: 0 1px 6px 2px rgba(0,0,0,.3);
}
#header .layout{
    padding: 1.2em 0;
}
#header .logo{
     font-size: 1.7em;  float: left;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
#header .nav{
    float: right; padding: 7px 0;
}
#header .nav>li{
    margin-right: 1.6em; text-transform: uppercase; float: left; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}
#header .nav>li a{
    color: #fff;
}
#header .nav>li a:hover{
    text-decoration: none;
}
#banner{
    height: 757px; overflow: hidden;
}
#banner ul{
    height: 100%;
}
#banner li{
    width: 100%; height: 100%; background-size: cover; background-position: center center; color: #fff; overflow: auto;
}
#banner li .text{
    width: 1000px; margin: 300px auto 0; text-align: center;
}
#banner li .text p{
    font-size: 3em; font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif; font-style: italic;
    margin-bottom: 20px;
}
#banner li .text h2{
    font-size: 4.5em; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: bold;
    margin-bottom: 80px;
}
#banner li .text a{
    padding: 20px 40px; color: #fff; font-size: 1.2em; text-transform: uppercase; font-weight: bold; border-radius: 3px;
}
#banner li .text a:hover{
    text-decoration: none;
}
#content .w-style{
    padding: 150px 0; max-width: 1150px; margin-left: auto; margin-right: auto; overflow: hidden;
}
#content .bg-grey{
    background-color: #f7f7f7;
}
#content .title{
    text-align: center; padding-top: 1px; margin: 0 0 40px;
}
#content .title h3{
    font-size: 2.4em; text-transform: uppercase; font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 20px 0;
}
#content .title p{
    font-style: italic; font-size: 0.9em;
}
#content .services .l-wrap li{
    width: 33%; float: left;
}
#content .services .l-wrap li .img .icon{
    width: 100px; height: 100px; border-radius: 50%; text-align: center; color: #fff; padding-top: 24px; margin: 0 auto;
}
#content .services .l-wrap li .img i{
    font-size: 3em;
}
#content .services .l-wrap li .tit{
    text-align: center; font-weight: bold; margin: 20px 0; font-size: 1.2em;
}
#content .services .l-wrap li .text{
    font-size: 0.9em; color: #777; text-align: center; line-height: 1.6;
}
#content .portfolio .l-wrap{
    margin-right: -30px;
}
#content .portfolio .l-wrap li{
    width: 33.3%; padding-right: 30px; float: left; margin-bottom: 30px;
}
#content .portfolio .l-wrap li .img a{
    display: block; width: 100%; position: relative;
}
#content .portfolio .l-wrap li .img a:hover img{
    opacity: .2;
}
#content .portfolio .l-wrap li .img a:hover i{
    color: #fff;
}
#content .portfolio .l-wrap li .img a i{
    position: absolute; top: 50%; left: 50%; font-size: 4em; margin-left: -32px; margin-top: -32px; color: transparent; transition: all 0.3s;
}
#content .portfolio .l-wrap li .img a img{
    width: 100%; transition: all 0.3s;
}
#content .portfolio .l-wrap li .text{
    padding: 20px 0; text-align: center; background-color: #fff;
}
#content .portfolio .l-wrap li .text .tit{
    font-weight: bold; margin-bottom: 4px; font-size: 1.2em;
}
#content .portfolio .l-wrap li .text .notice{
    font-style: italic; font-size: 0.9; color: #999;
}
#content .about .l-wrap li{
    position: relative; padding-bottom: 130px;
}
#content .about .l-wrap li:before{
    display: block; height: 100%; content: ""; border-left: 2px solid #f1f1f1; position: absolute; left: 50%; z-index: -1;
    margin-left: -1px;
}
#content .about .l-wrap .img{
    width: 170px; height: 170px; border-radius: 50%; border: 10px solid #f1f1f1; overflow: hidden;
    margin: 0 auto;
}
#content .about .l-wrap .img img{
    width: 100%;
}
#content .about .l-wrap .text{
    width: 40%; position: absolute; top: 14px; right: 50%; text-align: right; margin-right: 130px; padding-left: 100px;
    line-height: 1.5;
}
#content .about .l-wrap li:nth-child(even) .text{
    right: 0; left: 50%; text-align: left;  margin-left: 30px; margin-right: 0;
}
#content .about .l-wrap .text .time{
    font-weight: bold; font-size: 1.2em;
}
#content .about .l-wrap .text h4{
    font-size: 1.2em; margin-bottom: 10px;
}
#content .about .l-wrap .text .content{
    font-size: 0.9em;
}
#content .about .l-wrap li:last-child{
    padding-bottom: 0;
}
#content .about .l-wrap li:last-child .img{
    text-align: center; padding-top: 40px; background-color: #fec503; color: #fff; font-size: 1.3em; font-weight: bold;
    text-transform: uppercase; line-height: 1.2; box-sizing: border-box;
}
#content .team .l-wrap li{
    width: 33.3%; padding-right: 30px; text-align: center; float: left;
}
#content .team .l-wrap li .img{
    width: 160px; height: 160px; border-radius: 50%; border: 10px solid #fff; overflow: hidden;
    margin: 0  auto 20px;
}
#content .team .l-wrap li .img img{
    width: 100%;
}
#content .team .l-wrap li .text h4{
    font-size: 1.2em; margin-bottom: 10px;
}
#content .team .l-wrap li .text .notice{
    color: #999; font-size: 0.8em;
}
#content .team .l-wrap li .text .icon{
    margin-top: 20px; margin-right: -12px; text-align: center; *display: inline; *zoom: 1;
}
#content .team .l-wrap li .text .icon a{
    display: inline-block; width: 40px; height: 40px; text-align: center; font-size: 2em; margin-right: 12px; border-radius: 50%;
    background-color: #222; color: #fff; line-height: 0.9;
}
#content .team .l-wrap li .text .icon a:hover{
    text-decoration: none;
}
#content .team .l-wrap li .text .icon a .icon-facebook{
    vertical-align: 14%;
}
#content .team .last{
    text-align: center; margin: 50px auto 0; width: 60%; color: #999; line-height: 1.6;
}
#content .contact{
    background-color: #222; background-image: url(https://ooo.0o0.ooo/2017/06/29/5954652929bc8.png);
}
#content .contact .title{
    color: #fff;
}
#content .contact .title p{
    color: #aaa;
}
#content .contact form{
    margin-left: -20px;
}
#content .contact form .left{
    float: left; width: 50%; padding-left: 20px;
}
#content .contact form .line input{
    width: 100%; height: 60px; border-radius: 4px; margin-bottom: 20px; text-indent: 1.6em; outline: 0;
}
#content .contact form .line textarea{
    width: 100%; height: 222px; border-radius: 4px; padding: 20px; outline: 0; border: 1px solid #000; margin-top: -1px;
}
#content .contact form .line1{
    width: 100%; float: left; text-align: center;
}
#content .contact form .line input[type=submit]{
    width: 200px; height: 70px; line-height: 70px; margin-top: 30px; text-indent: 0; text-transform: uppercase; color: #fff;
    font-weight: bold;
}
#footer{
    padding: 30px 0; text-align: center;
}
#footer .w-style{
    max-width: 1150px; margin-right: auto; margin-left: auto;
}
#footer .content{
    text-align: center;
}
#footer .copyright{
    float: left; margin-top: 10px;
}
#footer .icon{
    display: inline-block; *display: inline; *zoom: 1;
}
#footer .icon a{
    display: block; width: 40px; height: 40px; border-radius: 50%; line-height: 0.9; color: #fff; font-size: 2em;
    background-color: #222; margin-right: 12px; float: left;
}
#footer .icon a .icon-facebook{
    vertical-align: 14%;
}
#footer .icon a:hover{
    text-decoration: none;
}
#footer .link{
    float: right; margin-top: 10px;
}

