.e-box{
    box-sizing:border-box;
}
.e-bor-1{
    border:1px solid #ddd;
}
.e-bg-w{
    background: #fff;
}

/*表格*/
.e-form{
    font-size: 14px; padding-top:20px;
}
.e-form .e-line{
    margin-bottom:20px;
}
.e-form .e-label{
    display: inline-block; min-width:7%; text-align: right;
}
.e-form input[type=text],.e-form input[type=password]{
    width:90%; border:1px solid #ddd; line-height:30px; border-radius:2px; text-indent:6px;
}
.e-form input[type=checkbox],.e-form input[type=radio]{
    vertical-align:bottom; margin-right:3px;
}
.e-form textarea{
    width:90%; border-color:#ddd;
}
.e-form .e-btn{
    line-height:30px; border-radius:4px; background-color: #008cd7; color: #fff; letter-spacing:2px; padding:0 22px; margin-right:10px;
    border:1px solid transparent; cursor: pointer;
}
.e-form .e-btn.default{
    color: #333; border-color: #ccc; background: #fff;
}
.e-form .e-btn.default:hover{
    color: #333; background-color: #e6e6e6; border-color: #adadad;
}
.e-form .e-btn.success{
    color: #fff; border-color: #4cae4c; background: #5cb85c;
}
.e-form .e-btn.success:hover{
    color: #fff; background-color: #449d44; border-color: #398439;
}
.e-form .e-btn.danger{
    color: #fff; border-color: #d9534f; background: #d9534f;
}
.e-form .e-btn.danger:hover{
    color: #fff; background-color: #ac2925; border-color: #c9302c;
}

/*遮罩层*/
.e-shade{
    width:100%; height:100%; position: fixed; top:0; left:0; background-color: rgba(0,0,0,.3); z-index:1000;
}
.e-shadeWrap{
    min-width:600px; background-color: #fff; position: absolute; top:50%; left:50%; margin-left:-250px; margin-top:-160px;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.e-shadeWrap .e-head{
    line-height:2.8; font-size:20px; text-indent:16px; background-color: #009688; color: #fff; position: relative;
}
.e-shadeWrap .e-head span{
    display: inline-block; position: absolute; right:16px; top:-8px; font-weight:normal; font-size:24px;
}
.e-shadeWrap .e-content{
    padding:20px; line-height:2; font-size:16px;
}
.e-shadeWrap .e-foot{
    background-color: #009688; color: #fff; line-height:3; text-indent:16px; font-size:18px;
}